h1 {
    color: rgb(54, 7, 54)
}

li {
    
    color: rgb(54, 7, 54)
}

body{
    background-image: url("./background_images/linkclimbing3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    color: rgb(54, 7, 54);
}

h4 {
    color: rgb(54, 7, 54);
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

img {
    width: 160px;
    height: 160px;
}

img.navi {
    width: 100px;
    height: 100px;
}
